/*----------------------------------------
    500 Page
------------------------------------------*/
/*---------------------------------------- 
  Available Layout type names
-----------------------------------------*/
/*
 1. vertical-modern-menu-template
 2. vertical-menu-nav-dark-template
 3. vertical-gradient-menu-template
 4. vertical-dark-menu-template
 5. horizontal-menu-template

/* Need to change Layout name as per your requirement on below mentioned line.*/
/*
1. @import "../themes/vertical-gradient-menu-template/variables"; 
2. @import "../themes/vertical-gradient-menu-template/theme-variables";
*/
.section-500 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 100vh;
  overflow: hidden;
}
.section-500 .error-code {
  font-size: 10rem !important;
}

@media screen and (min-width: 992px) {
  .section.section-500 .error-code {
    font-size: 5rem !important;
  }
  .section.section-500 .bg-image-500 {
    width: 70% !important;
  }
}
@media screen and (min-width: 769px) {
  .bg-image-500 {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .section.section-500 .error-code {
    font-size: 5rem !important;
  }
  .section.section-500 .bg-image-500 {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .section.section-500 .error-code {
    font-size: 2rem !important;
  }
}
